/* Typography */

/* Colors */

 :root {
  --primary-brand-color: #4D5AE5;
  --pressed-state-color: #404BBF;
  --dark-color: #2E2F42;
  --success-color: #31D0AA;
  --body-text-color: #434455;
  --subtle-text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --modal-overlay-color: #2E2F42;
  --hero-background-color: #2E2F42;
  --body-background-color: #ffffff;
} 

.link{
text-decoration: none;
} 

.list{
list-style: none;
}

/* Header 1 */
.hero-title{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
 letter-spacing: 0.02em;
color: var(--body-background-color);
}

/* Header 2 */
.header-zwai{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--dark-color);
}

/* Header 3 */
.header-drai{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-color);
}

body{
font-family: "Roboto", sans-serif;
background-color: var(--body-background-color);
color: var(--body-text-color);
}

.main-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text-color);
}


/* Header */
.main-logo{
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-brand-color);
}


.main-logo .logo-part{
  color: var(--dark-color);
}

/* Site nav */
.studio-page{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--dark-color);
}


.studio-page:hover,
.studio-page:focus{
color: var(--pressed-state-color); 
}

.feedback{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  var(--body-text-color);
}

.feedback-email{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text-color);
}


.feedback-email:hover,
.feedback-email:focus{
color: var(--pressed-state-color); 
}
/* Studio */
/* Main */
/* section 1 */

.hero-section{
background-color: var(--hero-background-color);
}

.button{
color: var(--body-background-color);
background-color: var(--primary-brand-color);
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}

.button:hover,
.button:focus{
background-color: var(--pressed-state-color);
cursor: pointer;
}

/* section 4 */
.section-vier{
background-color: var(--light-color);
}

.team-item{
background-color: var(--body-background-color);
}

/* Footer */
.footer-item{
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
background-color: var(--dark-color);
}

.footer-logo{
color: var(--primary-brand-color);
}

.footer-logo .logo-first{
color: var(--primary-brand-color);
}

.footer-logo .logo-part{
color: var(--light-color);
}

.footer-inform{
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--accent-color);
}

/* Portfolio */
/* Main */

/* Filters */
.button-portfolio{
color: var(--primary-brand-color);
background-color: var(--light-color);
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}

.button-portfolio:hover,
.button-portfolio:focus{
color: var(--body-background-color);
background-color: var(--pressed-state-color);
cursor: pointer;
}

.portfolio-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-color);
}



